{% layout "layout.liquid" %}
{% block content %}
</br>

<h1 class="pageHeader">Not Your Father's Fantasy Dragball League</h1>
<img class="forWhat"
    src="https://i.imgur.com/kNDZo96.jpg" height="350" width="500" alt="for what?">

<div class="container">
    <div class="centerHeader">
    <h1 class=indexHeader>RoyalTea</h1>
    </div>
    <div class="queensContainer">
        {% for queenData in queenData %}
        <div class="queenContainer"">
            {% if queenData.winner %}
            <img src=" {{queenData.image_url}}" alt="wut" height="250" width="200"
            style="border: 5px solid rgb(255, 196, 0)">
            {% else %}
            <img src="{{queenData.image_url}}" alt="wut" height="250" width="200"></a>
            {% endif %}
            <h5 class="queenName"> <strong>{{queenData.name}}</strong> </h5>
            <p class="aboutQueen">{{queenData.quote}}</p>
            <div class="cardButtons">
                <div>
                    <form action="/queen/fave" method="POST">
                        <!-- 3 inputs for id, name & image with type hidden to push info into the object model -->
                        <input type="hidden" value="{{queenData.id}}" name="queenId">
                        <input type="hidden" value="{{queenData.name}}" name="name">
                        <input type="hidden" value="{{queenData.image_url}}" name="image">
                        <input type="submit" value="⭐️" class="btn btn-outline-secondary btn-sm btn-block favButton">
                    </form>
                </div>
                <a href="/dragball/{{ queenData.id}}" class="btn btn-secondary btn-sm btn-block">View Stats</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}