{% layout "layout.liquid" %}
{% block content %}

    <h1>Fantasy Dragball League</h1>
    <img src="./images/index_page.png" alt="for what?">
    
    <div class="container">
        <h1>RoyalTea</h1> 
            <div class="queenContainer">
            {% for queenData in queenData %}
            <div>
               <h3 class="aboutQueen"> <strong>{{queenData.name}}</strong> </h3>
                </br>    
                {% if queenData.winner %}
                <img src="{{queenData.image_url}}" alt="wut" height="450" width="300" style="border: 5px solid rgb(255, 196, 0)">
                {% else %}
                <img src="{{queenData.image_url}}" alt="wut" height="450" width="300"></a>
                {% endif %}
                <p class="aboutQueen">{{queenData.quote}}</p>
            </br>
            
                <a href="/dragball/{{ queenData.id}}" class="btn btn-dark">View Stats</a>
            <!-- add to top 5 button -->
             <!-- <form method="POST" action="/pokemon/{{ forloop.index0}}?_method=DELETE">
                <input type="submit" value="DELETE">
            </form>    -->
         </div>
        {% endfor %}
        </div>
    </div> 


{% endblock %}