{% layout 'layout.liquid' %}
{% block content %}

<div class="container-md">

    </br>
    </br>
    </br>

    <article>
        
        <div class="outterDiv">
            <div class="inner">
                
                <div class="nameSeason">
                    <h2 class="queenName">
                        {{ queenData.name }}
                    </h2>
                    <h4 class="showh4">Season:
                        {{queenData.episodes[0].seasonId}}</h4>
                    </div>

                    <div class="win">
                        <p>____________________________</p>
                    <h6 class="showh6">Are they a winner, baby?</h6>
                    <li> {% if queenData.winner %}
                        YAS
                        {% else %}
                        Henny, no
                        {% endif %} </li>
                    </div>
                    <div class="congen">
                    <h6 class="showh6" >Miss Congeneality?</h6>
                    <li> {% if queenData.missCongeniality %}
                        Mhm, she's a queen, for the queens
                        {% else %}
                        No, she's throws the shade
                        {% endif %} </li>
                        </div>
                </div>

                <div class="innercenter">

                    <img class="statImg" src="{{queenData.image_url}}" height="250" width="200" alt="">

                    <div class="btn-group">
                        <form action="/queen/fave" method="POST">
                            <!-- 3 inputs for id, name & image with type hidden to push info into the object model -->
                            <input type="hidden" value="{{queenData.id}}" name="queenId">
                            <input type="hidden" value="{{queenData.name}}" name="name">
                            <input type="hidden" value="{{queenData.image_url}}" name="image">
                            <input type="submit" value="⭐️"
                                class="btn btn-secondary btn-sm btn-block statsfavButton">
                        </form>

                    </div>
                </div>


                <div class="inner">
                    <div class="lip">
                    <h4 class="showh4">Lip Sync Stats</h4>
                    <li>How Many: {{queenData.howMany}}</li>
                    <li>Wins: {{queenData.lipsyncWin}} </li>
                    <p>____________________________</p>
                    <p>Batting average: {{ queenData.lipsyncWin | divided_by: queenData.howMany }}</p>
                    <p>____________________________</p>
                </div>

                <div class="chall">
                    <h4 class="showh4">Challenge Wins</h4>
                    
                    <li>Mini's: {{ queenData.miniWins }}</li>
                     <li>Maxi's: {{ queenData.maxiWins }}</li>
                

                </div>
            </div>



    </article>
</div>
{% endblock %}