{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
</br>
</br>
</br>

    <h1>Oh, so you think you can make HerStory, huh?</h1>
    <h2 class="display-6">My Faves</h2>
    <div class="row">
        {% for queen in queen %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{queen.name}}</h5>
            <div class="card-body">
                <img src="{{queen.image}}" height="200" width="150">
                
                <div class="cardButtons">
                    {% if example.owner == userId %}
                    <form action="/team/{{ queen._id }}" method="POST">

                        <input type="hidden" value="{{ teamMembers._id }}" name="id">
                        <input type="hidden" value="{{ team[0].teamMembers.name }}" name="name">

                        <input type="submit" value="She's Team Material" class="btn btn-secondary btn-sm btn-block favButton">
                    </form>
                    <form action="/queen/fave/mine/{{ queen._id }}?_method=DELETE" method="POST">
                        <input type="submit" value="Sashay Away" class="btn btn-outline-danger btn-sm btn-block">
                    </form>

                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}