{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">

    <h1>Oh, so you think you can make HerStory, huh?</h1>
    <h2 class="display-6">My Faves</h2>
    <div class="row">
        {% for queen in queen %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{queen.name}}</h5>
            <div class="card-body">
                <img src="{{queen.image}}" height="200" width="150">
                <p class="card-text">

                </p>
                <div class="btn-group">
                    {% if example.owner == userId %}
                    <form action="/team/{{ queen._id }}" method="POST">

                        <input type="hidden" value="{{ teamMembers.type }}" name="id">


                        <input type="submit" value="She's Team Material" class="btn btn-dark">
                    </form>
                    <form action="/queen/fave/mine/{{ queen._id }}?_method=DELETE" method="POST">
                        <input type="submit" value="Sashay Away" class="btn btn-danger">
                    </form>

                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}