{% layout 'layout.liquid' %}
{% block content %}

<div class="container-md">

    </br>
    </br>
    </br>

    <article>
        
        <div class="outterDiv">
            <div class="inner">
                
                <div class="nameSeason">
                    <h2>
                        {{ queenData.name }}
                    </h2>
                    <h4>Season:
                        {{queenData.episodes[0].seasonId}}</h4>
                    </div>

                    <div class="win">
                    <h6>Are they a winner, baby?</h6>
                    <p> {% if queenData.winner %}
                        YAS
                        {% else %}
                        Henny, no
                        {% endif %} </p>
                    </div>
                    <div class="congen">
                    <h6>Miss Congeneality?</h6>
                    <p> {% if queenData.missCongeniality %}
                        Mhm, she's a queen, for the queens
                        {% else %}
                        No, she's throws the shade
                        {% endif %} </p>
                        </div>
                </div>

                <div class="innercenter">

                    <img class="statImg" src="{{queenData.image_url}}" height="200" width="200" alt="">

                    <div class="btn-group">
                        <form action="/queen/fave" method="POST">
                            <!-- 3 inputs for id, name & image with type hidden to push info into the object model -->
                            <input type="hidden" value="{{queenData.id}}" name="queenId">
                            <input type="hidden" value="{{queenData.name}}" name="name">
                            <input type="hidden" value="{{queenData.image_url}}" name="image">
                            <input type="submit" value="⭐️"
                                class="btn btn-outline-secondary btn-sm btn-block statsfavButton">
                        </form>

                    </div>
                </div>


                <div class="inner">
                    <div class="lip">
                    <h4>Lip Sync Stats</h4>
                    <p>How Many: {{queenData.howMany}}</p>
                    <p>Wins: {{queenData.lipsyncWin}} </p>
                    <p>Batting average: {{ queenData.lipsyncWin | divided_by: queenData.howMany }}</p>
                </div>

                <div class="chall">
                    <h4>Challenge Wins</h4>
                    
                    <p>Mini's: {{ queenData.miniWins }}</p>
                     <p>Maxi's: {{ queenData.maxiWins }}</p>
                

                </div>
            </div>



    </article>
</div>
{% endblock %}