{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
    
        <h1>
            {{ queenData.name }} 
        </h1>
        <img src="{{queenData.image_url}}" height="450" width="300" alt="">

        <h2>Category is...</h2>
    <ul>
        <li>Season</li>
        <h4>{{queenData.episodes[0].seasonId}}</h4>
        <li>Are they a winner, baby?</li>
          <h4>  {% if queenData.winner %}
           YAS
           {% else %}
          Henny, no
           {% endif %} </h4>

           <li>Miss Congeneality?</li>
          <h4>  {% if queenData.missCongeniality %}
           Mhm, she's a queen, for the queens
           {% else %}
          No, she's throws the shade
           {% endif %} </h4>
           <li>Lip Sync Stats</li>
           <h4>Batting average: {{ queenData.lipsyncWin | divided_by: queenData.howMany }}</h4>
           <h5>How Many: {{queenData.howMany}}</h5>
           <h5>Wins: {{queenData.lipsyncWin}} </h5>
        </ul>
        
        <li>Challenge Wins</li>
       
        <h5>Mini's: {{ queenData.miniWins }}</h5>
        <h5>Maxi's: {{ queenData.maxiWins }}</h5>

        
        <div class="btn-group">
            <form action="/queen/fave" method="POST">
                <input type="submit" value="She's a Fave" class="btn btn-dark">
            </form>
        </div>
        {% if example.owner == userId %}
        {% endif %}
        
    </article>
</div>
{% endblock %}