{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h1>
            {{ queenData.name }} -
        </h1>
        <img src="{{queenData.image_url}}" height="450" width="300" alt="">

        <h2>Category is...</h2>
    <ul>
        <li>Season</li>
        <h4>{{queenData.episodes[0].seasonId}}</h4>
        <li>Have they even won?</li>
          <h4>  {% if queenData.winner %}
           YAS
           {% else %}
          Henny, no
           {% endif %} </h4>

           <li>Miss Congeneality?</li>
          <h4>  {% if queenData.missCongeneality %}
           Mhm, she's a queen, for the queens
           {% else %}
          No, she's throws the shade
           {% endif %} </h4>

           <li>Lip Sync Stats</li>
           <h4>Batting average: {{}}</h4>
           <h5>How Many: {{queenData.lipsyncs[0]}}</h5>
           <h5>Wins: </h5>

           <li>Challenge Wins</li>
           <h5>Mini's: {{}}</h5>
           <h5>Maxi's: </h5>

        </ul>
        
        <h6>Body: {{ example.body }}</h6>
        {% if example.owner == userId %}

        <div class="btn-group">

            <a href="/examples/{{ example.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/examples/{{ example.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
        {% endif %}
    </article>
</div>
{% endblock %}