{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">

    <h1>Oh, so you think you can make HerStory, huh?</h1>

    <form action="/team/mine/name" method="POST">
        <fieldset>

            <label class="form-label">Team Name </label>
            <input type="text" name="name" placeholder="ex: Slaytina" class="form-control">

        </fieldset>
        <input type="submit" value="BAM!" class="btn btn-outline-secondary">
    </form>

    <h1>{{ teamMembers.name }}</h1>

    <h2 class="display-6">
        {{teamName.name}} Top 5
    </h2>

    <div class="row">
        {% for queen in team.teamMembers %}
        <p>***{{ queen.name }}</p>
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ queen._id }}</h5>
            <div class="card-body">
                <img src="{{queen.image}}">
                <p class="card-text">

                </p>
                {% if example.owner == userId %}
                <form action="/team/mine/{{ queen._id }}?_method=DELETE" method="POST">
                    <input type="submit" value="Sashay Away" class="btn btn-danger">
                </form>
                <div class="form-group">
                    <label for="queenRank">Order</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}